.home-container{
    min-height: 100%;
    background-color: #867b7b26;
}
.no-expense-text{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}
.add-expense-button{
    text-align: center;
    margin-top: 5vh;
}
.add-expense-button>button{
    height: 80px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    background-color: #a04cf4;
    color: #fff;
    border-radius: 1vh;
}
.no-expenses-container{
    display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 60vh; 
  flex-direction: column;
}

.add-expense-button>button:hover{
    cursor: pointer;
}